<div class="chatcard">
  <div class="heading">

    <div class="name">
      {{name}}
    </div>
    <div class="flavor item">
      {{type}}
    </div>
  </div>
    <img class="img" src="{{img}}"/>
  <section class="card-header {{#if descFieldHtml}}collapsible{{/if}}">
    <header>
  
      <div class="title">
        <div class="name">{{name}}</div>
        <div class="type">{{type}}</div>
      </div>
    </header>
  <div class="description collapsible-content"><div class="desc-content">{{#if descFieldHtml}}{{{descFieldHtml}}}</div>{{/if}}</div>
  </section>
  <div class="content">
    {{#if varFieldHtml}}<div class="vars">{{{varFieldHtml}}}</div>{{/if}}
    {{#if tags}}
      <div class='tags'>
        {{#each tags}}
          <div class="tag" title="{{this.tooltip}}">{{this.label}}</div>
        {{/each}}
      </div>
    {{/if}}
    {{#if rolls}}
      {{#if rolls.challenge}}{{#with rolls.challenge}}{{> 'sta.chat.weapon-roll'}}{{/with}}{{/if}}
    {{/if}}
  </div>
</div>
